@link-color:        #575757;
@link-color-hover:  darken(@link-color, 10%);

.product-container{	
	padding-top: 10px;
	a.product-link{
		padding: 5px;
		border: 1px solid grey;
		color: @link-color;
		display: block;
		text-decoration: none;
	}
	a.product-link:hover{
		color: @link-color-hover;
		.product-image{
			opacity: 0.8;
		}
	}
	.product-description{
		font-size: 11px;
	}
	hr{
		border-top: 1px solid grey;
		margin: 5px -5px;
	}
	.product-sizes{
		display: block;
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			margin: 0 3px;
			padding: 4px;
			border: 1px solid @link-color;
		}
	}
}

